:root{
    --cadetblue: #5F9EA0;
    --white: #ffffff;
}

body{
    background-color: var(--cadetblue);
    color: var(--white);
}

img{
    width: 30%;
}

header{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
.img-intro{
   width: 20%;
}

.intro {
    display: flex;
    background: teal;
    margin: 20px 20px;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid green;
}

.CPFC {
    display: grid;
    grid-template-columns: 33% 34% 33% ;
    text-align: center;
    background-color: rgb(102, 102, 102);
}

.foto-equipe{
    width: 40%;
}

.pessoa{
    border: 3px solid green;
    margin: 12px;
}