:root{
    --cadetblue: #5F9EA0;
    --white: #ffffff;
}

body{
    background-color: var(--cadetblue);
    color: var(--white);
}

img{
    width: 30%;
}

header{

    display: flex;
    align-items: flex-start;
    justify-content: center;

}