@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root{
    --green: #006e34;
    --white: #ffffff;
}

body{
    background-color: var(--green);
    color: var(--white);
    font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

img{
    width: 10%;
}

header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.img-intro{
   width: 20%;
}

.intro {
    display: flex;
    background: rgb(0, 128, 109);
    margin: 20px 20px;
    padding: 5px;
    border-radius: 5px;
    border: 5px solid green;
    justify-content: space-between;
    
}

#equipe{
    display: grid;
    grid-template-columns: 33% 34% 33% ;
    text-align: center;
    background-color: rgb(153, 152, 152);
}

.foto-equipe{
    width: 40%;
}

.pessoa{
    border: 3px solid rgb(255, 255, 255);
    margin: 12px;
}

footer{
    background-color: rgb(148, 148, 148);
    color:rgb(255, 255, 255);
}

header a{ 
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.cor{
    color: green;
}
